## BRENDA pH activity data
- BRENDA has "pH optimum" and "pH range" fields
- We need to match up the data from these two sheets
- This notebook will parse the "pH optimum" data and match it with the ph range data

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import os
import re
import regex
from tqdm.auto import tqdm

In [ ]:
inputs_dir = Path("/projects/robustmicrob/jlaw/inputs/brenda/202301_tables")
data_dir = "/projects/robustmicrob/jlaw/projects/prot_stability_engineering/inputs/brenda"

In [2]:
ph_range_file = inputs_dir / "202301_ph_opt.tsv.gz"
header = ["ec_num", "name", "ph_min", "ph_max", "comments", "organism", "uniprot_id", "ref", "empty"]
data = pd.read_csv(ph_range_file, sep='\t', names=header)
data = data.drop(columns=['empty'])
print(len(data))
data = data[data.ph_min != "additional information"]
# data = data[data.ph_min != "additional information"]
print(len(data))
data.head(2)

51028
50084

,ec_num,name,ph_min,ph_max,comments,organism,uniprot_id,ref
2,1.1.1.1,alcohol dehydrogenase,3,-,reduction of aldehydes,Thermococcus kodakarensis,Q5JI09,735486
3,1.1.1.1,alcohol dehydrogenase,3.8,-,-4.3,Neurospora crassa,-,659773

In [3]:
data.organism.value_counts()

Homo sapiens                    3979
Rattus norvegicus               2213
Escherichia coli                1885
Bos taurus                      1029
Saccharomyces cerevisiae        1013
                                ...
Palaemon serratus                  1
Parophrys vetulus                  1
Pleuronichthys verticalis          1
Pseudopleuronectes yokohamae       1
Acyrthosiphon pisum                1
Name: organism, Length: 5906, dtype: int64

#### Find a uniprot ID for rows where it's missing
See if we can use the mapping from the uniprot ID's ec numbers to get a protein

In [4]:
uniprot_ec_file = f"{data_dir}/uniprot/uniprotkb_ec_AND_reviewed_true_2023_07_06.tsv.gz"
uniprot_ec_df = pd.read_table(uniprot_ec_file)
print(len(uniprot_ec_df))
uniprot_ec_df.head(2)

274744

,Entry,Reviewed,Entry Name,Protein names,Gene Names,Organism,Length,EC number
0,A0A009IHW8,reviewed,ABTIR_ACIB9,2' cyclic ADP-D-ribose synthase AbTIR (2'cADPR...,J512_3302,Acinetobacter baumannii (strain 1295743),269,3.2.2.-; 3.2.2.6
1,A0A023I7E1,reviewed,ENG1_RHIMI,"Glucan endo-1,3-beta-D-glucosidase 1 (Endo-1,3...",ENG1 LAM81A,Rhizomucor miehei,796,3.2.1.39

In [5]:
data_no_uniprot = data[data.uniprot_id == "-"]
len(data_no_uniprot)

36326

In [6]:
data_matched_uniprot = pd.DataFrame()
for ec_num, df in tqdm(data_no_uniprot.groupby('ec_num')):
    uniprot_ec_rows = uniprot_ec_df[uniprot_ec_df['EC number'].apply(lambda x: ec_num in x.split('; '))]
    if len(uniprot_ec_rows) == 0:
        continue

    org_count = df.organism.value_counts().to_dict()
    
    def match_uniprot_ec_organism(org, 
                                  num_brenda_org_cutoff=2,
                                  num_matching_rows_cutoff=2):
        # only try and automatically match for brenda entries that have fewer than 3 entries for the same enzyme
        if org_count[org] > num_brenda_org_cutoff:
            return np.nan

        matching_rows = uniprot_ec_rows[uniprot_ec_rows.Organism.apply(lambda x: org in x)]
        if len(matching_rows) > num_matching_rows_cutoff:
            return np.nan

        return ",".join(matching_rows.Entry.values)

    df['uniprot_id'] = df.organism.apply(match_uniprot_ec_organism)
    data_matched_uniprot = pd.concat([data_matched_uniprot, df])

print(len(data_matched_uniprot))

  0%|          | 0/4539 [00:00<?, ?it/s]

33505

In [7]:
data_matched_uniprot.uniprot_id = data_matched_uniprot.uniprot_id.replace("",np.nan)
data_matched_uniprot = data_matched_uniprot.dropna(subset='uniprot_id')

In [8]:
print(len(data_matched_uniprot), data_matched_uniprot.uniprot_id.nunique())

5469 4268

In [9]:
data_uniprot = data[data.uniprot_id != '-'].dropna(subset='uniprot_id')
print(len(data_uniprot), data_uniprot.uniprot_id.nunique())
data_uniprot = pd.concat([data_uniprot, data_matched_uniprot])
print(len(data_uniprot), data_uniprot.uniprot_id.nunique())
data_uniprot = data_uniprot.drop_duplicates()
print(len(data_uniprot), data_uniprot.uniprot_id.nunique())

13756 10465
19225 14208
19225 14208

In [10]:
data_uniprot.uniprot_id.value_counts()

Q51723           17
P08659           14
P00784           13
Q9AJE3           11
O23791           11
                 ..
Q5AVY9            1
Q9KIF2            1
B3VS85            1
C7A621            1
P97046,Q9CHL8     1
Name: uniprot_id, Length: 14208, dtype: int64

In [11]:
# split rows with multiple uniprot IDs
data_uniprot["uniprot_id"] = data_uniprot.uniprot_id.apply(lambda x: x.replace(' AND ',',').replace(' ','').split(','))
data_uniprot = data_uniprot.explode(column='uniprot_id', ignore_index=True)
print(len(data_uniprot), data_uniprot.uniprot_id.nunique())

24674 15793

In [12]:
data_uniprot.uniprot_id.value_counts()

P27169    34
Q975F9    33
Q51723    20
P08659    19
Q9NR71    19
          ..
Q2QC90     1
Q6HA27     1
P48147     1
W8GKU3     1
Q9CHL8     1
Name: uniprot_id, Length: 15793, dtype: int64

In [17]:
data_uniprot[data_uniprot.uniprot_id == "P27169"]

,ec_num,name,ph_min,ph_max,comments,organism,uniprot_id,ref
9203,3.1.1.2,arylesterase,7.4,-,assay at,Homo sapiens,P27169,"35213, 665028, 678376, 681730"
9204,3.1.1.2,arylesterase,7.4,-,assay at,Homo sapiens,P27169,"35213, 665028, 678376, 681730"
9208,3.1.1.2,arylesterase,8,-,assay at,Homo sapiens,P27169,"35212, 35215, 663985, 664184, 665960, 677411, ..."
9209,3.1.1.2,arylesterase,8,-,assay at,Homo sapiens,P27169,"35212, 35215, 663985, 664184, 665960, 677411, ..."
9210,3.1.1.2,arylesterase,8,-,assay at,Homo sapiens,P27169,"35212, 35215, 663985, 664184, 665960, 677411, ..."
9213,3.1.1.2,arylesterase,8,-,assay at,Homo sapiens,P27169,"35212, 35215, 663985, 664184, 665960, 677411, ..."
9214,3.1.1.2,arylesterase,8,-,assay at,Homo sapiens,P27169,"35212, 35215, 663985, 664184, 665960, 677411, ..."
9215,3.1.1.2,arylesterase,8,-,assay at,Homo sapiens,P27169,"35212, 35215, 663985, 664184, 665960, 677411, ..."
9216,3.1.1.2,arylesterase,8,-,assay at,Homo sapiens,P27169,"35212, 35215, 663985, 664184, 665960, 677411, ..."
9221,3.1.1.2,arylesterase,8.5,-,assay at,Homo sapiens,P27169,"677892, 679634"
9222,3.1.1.2,arylesterase,8.5,-,assay at,Homo sapiens,P27169,"677892, 679634"
9272,3.1.1.25,"1,4-lactonase",8,-,assay at,Homo sapiens,P27169,665960
9669,3.1.1.81,quorum-quenching N-acyl-homoserine lactonase,8,-,assay at,Homo sapiens,P27169,749628
10451,3.1.8.1,aryldialkylphosphatase,7.4,-,assay at,Homo sapiens,P27169,"35213, 678376, 679759, 681730"
10452,3.1.8.1,aryldialkylphosphatase,7.4,-,assay at,Homo sapiens,P27169,"35213, 678376, 679759, 681730"
10454,3.1.8.1,aryldialkylphosphatase,7.5,8,assay at,Homo sapiens,P27169,749610
10457,3.1.8.1,aryldialkylphosphatase,8,-,-,Homo sapiens,P27169,"664153, 666426, 707214"
10461,3.1.8.1,aryldialkylphosphatase,8,-,assay at,Homo sapiens,P27169,"35212, 663614, 664184, 665987, 677411, 677893,..."
10462,3.1.8.1,aryldialkylphosphatase,8,-,assay at,Homo sapiens,P27169,"35212, 663614, 664184, 665987, 677411, 677893,..."
10463,3.1.8.1,aryldialkylphosphatase,8,-,assay at,Homo sapiens,P27169,"35212, 663614, 664184, 665987, 677411, 677893,..."
10464,3.1.8.1,aryldialkylphosphatase,8,-,assay at,Homo sapiens,P27169,"35212, 663614, 664184, 665987, 677411, 677893,..."
10465,3.1.8.1,aryldialkylphosphatase,8,-,assay at,Homo sapiens,P27169,"35212, 663614, 664184, 665987, 677411, 677893,..."
10466,3.1.8.1,aryldialkylphosphatase,8,-,assay at,Homo sapiens,P27169,"35212, 663614, 664184, 665987, 677411, 677893,..."
10467,3.1.8.1,aryldialkylphosphatase,8,-,assay at,Homo sapiens,P27169,"35212, 663614, 664184, 665987, 677411, 677893,..."
10478,3.1.8.1,aryldialkylphosphatase,8.5,-,assay at,Homo sapiens,P27169,"665960, 677892, 679634"
10480,3.1.8.1,aryldialkylphosphatase,8.5,-,assay at,Homo sapiens,P27169,"665960, 677892, 679634"
10481,3.1.8.1,aryldialkylphosphatase,8.5,-,assay at,Homo sapiens,P27169,"665960, 677892, 679634"
10496,3.1.8.1,aryldialkylphosphatase,10.5,-,assay at,Homo sapiens,P27169,"35208, 35215, 664184, 677884, 678464, 681055"
10497,3.1.8.1,aryldialkylphosphatase,10.5,-,assay at,Homo sapiens,P27169,"35208, 35215, 664184, 677884, 678464, 681055"
10498,3.1.8.1,aryldialkylphosphatase,10.5,-,assay at,Homo sapiens,P27169,"35208, 35215, 664184, 677884, 678464, 681055"
10499,3.1.8.1,aryldialkylphosphatase,10.5,-,paraoxonase activity of recombinant PON1-hFc o...,Homo sapiens,P27169,752102
10500,3.1.8.1,aryldialkylphosphatase,10.5,-,the maximum rate of methylphosphonic acid hydr...,Homo sapiens,P27169,749684
10503,3.1.8.2,diisopropyl-fluorophosphatase,8,-,assay at,Homo sapiens,P27169,"749628, 752102"
10504,3.1.8.2,diisopropyl-fluorophosphatase,8,-,assay at,Homo sapiens,P27169,"749628, 752102"

In [18]:
out_file = Path(data_dir, "ph_opt/20230907_ph_opt_processed.csv")
data_uniprot.to_csv(out_file, index=False)

Remove the "assay at" rows as well as the mutant rows (for now)

In [19]:
print(len(data_uniprot), data_uniprot.uniprot_id.nunique())
data_uniprot = data_uniprot[data_uniprot.comments.apply(lambda x: "assay at" not in x)]
print(len(data_uniprot), data_uniprot.uniprot_id.nunique())

24674 15793
14049 9819

In [21]:
print(len(data_uniprot), data_uniprot.uniprot_id.nunique())
data_uniprot = data_uniprot[data_uniprot.comments.apply(lambda x: "mutant" not in x)]
print(len(data_uniprot), data_uniprot.uniprot_id.nunique())

14049 9819
13781 9763

In [24]:
out_file = Path(data_dir, "ph_opt/20230907_ph_opt_no_assay_at_no_mutant.csv")
data_uniprot.drop(columns='name').to_csv(out_file, index=False)

### Match the data_opt rows with the ph_range rows
- We should be able to match based on the references

In [95]:
out_file = Path(data_dir, "ph_range/20230907_ph_range_processed_act.csv")
data_act_ph_range = pd.read_csv(out_file)
print(len(data_act_ph_range))
data_act_ph_range

out_file = Path(data_dir, "ph_range/20230907_ph_range_processed.csv")
data_ph_range = pd.read_csv(out_file, index_col=0)
data_ph_range = data_ph_range[data_ph_range.index.isin(data_act_ph_range.exp_index.unique())]
print(len(data_ph_range))

6241
3151

In [36]:
data_act_ph_range

,exp_index,ph,activity,note,ph_range_comment,uniprot_id
0,1,4.0,0.80,NaN,"pH 4.0: about 80% of maximal activity, pH 7.5:...",B2KJ46
1,1,7.5,0.60,NaN,"pH 4.0: about 80% of maximal activity, pH 7.5:...",B2KJ46
2,3,4.9,0.25,reduction reaction,"pH 4.9: about 25% of maximal activity, pH 5.8:...",Q4J702
3,3,5.8,0.40,reduction reaction,"pH 4.9: about 25% of maximal activity, pH 5.8:...",Q4J702
4,4,4.9,0.25,reduction reaction,"pH 4.9: about 25% of maximal activity, pH 5.8:...",Q4J9F2
...,...,...,...,...,...,...
6234,240,10.0,0.60,NaN,over 60% of maximal activity within this range...,A0A141BGH5
6235,240,11.0,1.00,NaN,over 60% of maximal activity within this range...,A0A141BGH5
6236,232,5.0,1.00,NaN,over 60% of maximal activity within this range...,A0A141BGH5
6237,232,4.0,0.60,NaN,over 60% of maximal activity within this range...,A0A141BGH5
6238,232,8.0,0.60,NaN,over 60% of maximal activity within this range...,A0A141BGH5

In [35]:
data_ph_range

,ec_num,name,ph_min,ph_max,comments,organism,uniprot_id,ref
1,1.1.1.1,alcohol dehydrogenase,4,7.5,"pH 4.0: about 80% of maximal activity, pH 7.5:...",Candida parapsilosis,B2KJ46,684556
3,1.1.1.1,alcohol dehydrogenase,4.9,5.8,"pH 4.9: about 25% of maximal activity, pH 5.8:...",Sulfolobus acidocaldarius,Q4J702,719428
4,1.1.1.1,alcohol dehydrogenase,4.9,5.8,"pH 4.9: about 25% of maximal activity, pH 5.8:...",Sulfolobus acidocaldarius,Q4J9F2,719428
5,1.1.1.1,alcohol dehydrogenase,5.5,7.5,"pH 5.5: about 35% of maximal activity, pH 7.5:...",Sulfurisphaera tokodaii,F9VMI9,718627
7,1.1.1.1,alcohol dehydrogenase,6,-,50% of maximum activity for reduction of aldeh...,Thermococcus kodakarensis,Q5JI09,735486
...,...,...,...,...,...,...,...,...
6382,6.5.1.7,"DNA ligase (ATP, ADP or GTP)",6.5,9,"pH 6.5: about 90% of maximal activity, 9.0: ab...",Hyperthermus butylicus,A2BJX6,727438
6391,7.1.2.2,H+-transporting two-sector ATPase,10,-,ATP synthesis in washed membranes of Haloferax...,Haloferax volcanii,Q48332,727822
6392,7.2.2.10,P-type Ca2+ transporter,5.5,8,about 35% of maximal activity at pH 5.5 and at...,Saccharomyces cerevisiae,P13586,210495
6393,7.2.2.10,P-type Ca2+ transporter,5.5,8,about 35% of maximal activity at pH 5.5 and at...,Saccharomyces cerevisiae,P38929,210495
6395,7.2.2.19,H+/K+-exchanging ATPase,6.8,7.8,"pH 6.8: about 60% of maximal activity, pH 7.8:...",Sus scrofa,P19156,246853

In [96]:
data_opt_match = data_uniprot[data_uniprot.uniprot_id.isin(data_ph_range.uniprot_id.unique())]
print(len(data_opt_match))
data_opt_match.head(2)

3181

,ec_num,name,ph_min,ph_max,comments,organism,uniprot_id,ref,ph_range_ref_match
0,1.1.1.1,alcohol dehydrogenase,3,-,reduction of aldehydes,Thermococcus kodakarensis,Q5JI09,735486,735486
1,1.1.1.1,alcohol dehydrogenase,4.5,-,-,Candida parapsilosis,B2KJ46,684556,684556

In [41]:
ph_range_refs = set([r.strip() for refs in data_ph_range.ref.values for r in refs.split(',')])
print(len(ph_range_refs))

2276

In [48]:
# use the reference to matchup the optimum rather than the uniprot ID
def match_refs(refs):
    if not isinstance(refs, str):
        return np.nan
    for r in refs.replace(' ','').split(','):
        if r in ph_range_refs:
            return r
    return np.nan

data_uniprot['ph_range_ref_match'] = data_uniprot.ref.apply(match_refs)
data_opt_match = data_uniprot.dropna(subset='ph_range_ref_match')
print(len(data_opt_match))
data_opt_match.head(2)

2751

,ec_num,name,ph_min,ph_max,comments,organism,uniprot_id,ref,ph_range_ref_match
0,1.1.1.1,alcohol dehydrogenase,3,-,reduction of aldehydes,Thermococcus kodakarensis,Q5JI09,735486,735486
1,1.1.1.1,alcohol dehydrogenase,4.5,-,-,Candida parapsilosis,B2KJ46,684556,684556

In [49]:
data_opt_match.head(2)

,ec_num,name,ph_min,ph_max,comments,organism,uniprot_id,ref,ph_range_ref_match
0,1.1.1.1,alcohol dehydrogenase,3,-,reduction of aldehydes,Thermococcus kodakarensis,Q5JI09,735486,735486
1,1.1.1.1,alcohol dehydrogenase,4.5,-,-,Candida parapsilosis,B2KJ46,684556,684556

In [58]:
data_act_ph_range.head(2)

,exp_index,ph,activity,note,ph_range_comment,uniprot_id
0,1,4.0,0.8,NaN,"pH 4.0: about 80% of maximal activity, pH 7.5:...",B2KJ46
1,1,7.5,0.6,NaN,"pH 4.0: about 80% of maximal activity, pH 7.5:...",B2KJ46

In [89]:
data_act_ph_range[data_act_ph_range.exp_index == 6265]

,exp_index,ph,activity,note,ph_range_comment,uniprot_id
3676,6265,6.0,0.21,3.1% and in the presence of 1 mM and 0.5 mM Mn...,3.1% and 21% of maximal activity at pH 6.0 and...,Q49W02
3677,6265,7.0,0.21,3.1% and in the presence of 1 mM and 0.5 mM Mn...,3.1% and 21% of maximal activity at pH 6.0 and...,Q49W02

In [87]:
data_ph_range.loc[6265].comments

'3.1% and 21% of maximal activity at pH 6.0 and pH 7.0 in the presence of 1 mM and 0.5 mM Mn2+, respectively'

In [97]:
# Match the ph optimum to the correct ph range
opt_not_in_range = []
matched_data = []
matched_more_than_2_count = 0
for exp_idx, df in data_act_ph_range.groupby("exp_index"):
    note = df.note.unique()[0]
    row = data_ph_range.loc[exp_idx]
    df2 = data_opt_match[(data_opt_match.ref == row.ref) & 
                         (data_opt_match.uniprot_id == row.uniprot_id) & 
                         (data_opt_match.ec_num == row.ec_num)]
    if len(df2) == 0:
        continue
    if len(df2) > 1:
        matched_more_than_2_count += 1
    #     # skip for now
    #     continue
    # ph_opts = [ph for phs in df2.opt.values for ph in phs.split('-')]
    # ph_opts = list(df2.ph_min.values)
    # ph_opts += [ph for ph in df2.ph_max.values if ph != '-']
    for ph_min, ph_max, note in df2[['ph_min', 'ph_max', 'comments']].values:
        ph_opts = [float(ph_min)]
        if ph_max != '-':
            ph_opts += [float(ph_max)]
        for ph_opt in ph_opts:
            if len(df) == 1 or (
                df.ph.min() < ph_opt and df.ph.max() > ph_opt):
                # ph_opt is in range. Add to data
                matched_data += [[exp_idx, ph_opt, 1.0, note, row.uniprot_id]]
            else:
                print(df[['exp_index', 'ph', 'activity', 'note']].values, ph_opts, note)
                opt_not_in_range.append((exp_idx, ph_opts))
                continue
print(f"{len(matched_data) = }, {len(opt_not_in_range) = }, {matched_more_than_2_count = }")

[[3 4.9 0.25 'reduction reaction']
 [3 5.8 0.4 'reduction reaction']] [8.2] oxidation of alcohols
[[3 4.9 0.25 'reduction reaction']
 [3 5.8 0.4 'reduction reaction']] [8.2] oxidation reaction
[[4 4.9 0.25 'reduction reaction']
 [4 5.8 0.4 'reduction reaction']] [8.2] oxidation of alcohols
[[4 4.9 0.25 'reduction reaction']
 [4 5.8 0.4 'reduction reaction']] [8.2] oxidation reaction
[[5 5.5 0.35 'reduction of benzaldehyde']
 [5 7.5 0.55 'reduction of benzaldehyde']] [10.5] oxidation of 1-hexanol
[[10 8.5 0.85 'oxidation reaction']
 [10 6.7 0.4 'oxidation reaction']] [5.1] reduction of ketones
[[10 8.5 0.85 'oxidation reaction']
 [10 6.7 0.4 'oxidation reaction']] [5.1] reduction reaction
[[11 6.7 0.4 'oxidation reaction']
 [11 8.5 0.85 'oxidation reaction']] [5.1] reduction of ketones
[[11 6.7 0.4 'oxidation reaction']
 [11 8.5 0.85 'oxidation reaction']] [5.1] reduction reaction
[[13 7.0 0.7 'reduction of 2-pentanone']
 [13 9.6 0.5 'reduction of 2-pentanone']] [10.5] oxidation of 2-pentanol
[[15 7.5 0.35 'oxidation of 1-hexanol']
 [15 10.8 0.5 'oxidation of 1-hexanol']] [7.0] reduction of benzaldehyde
[[16 11.5 0.3 'oxidation of 2-pentanol']
 [16 9.5 0.4 'oxidation of 2-pentanol']] [8.0] reduction of 2-pentanone
[[22 7.0 0.8
  'reduction of D-xylulose with NADH, within this range, recombinant His-tagged enzyme']
 [22 3.0 0.8
  'reduction of D-xylulose with NADH, within this range, recombinant His-tagged enzyme']] [8.5] oxidation of D-arabitol with NAD+, recombinant His-tagged enzyme
[[23 11.0 0.6
  'oxidation of D-arabitol with NAD+, within this range, recombinant His-tagged enzyme']
 [23 6.0 0.6
  'oxidation of D-arabitol with NAD+, within this range, recombinant His-tagged enzyme']] [5.5] reduction of D-xylulose with NADH, recombinant His-tagged enzyme
[[43 6.0 0.4 nan]
 [43 8.0 0.4 nan]] [6.0, 7.0] -
[[89 6.7 0.8 nan]
 [89 9.0 0.8 nan]] [10.0, 11.0] alcohol oxidation
[[89 6.7 0.8 nan]
 [89 9.0 0.8 nan]] [10.0, 11.0] alcohol oxidation
[[97 7.0 0.8 'for reduction of aldehyde']
 [97 8.5 0.8 'for reduction of aldehyde']] [10.5] oxidation of alcohol
[[122 6.0 0.95 'reduction reaction']
 [122 4.5 0.1 'reduction reaction']
 [122 7.5 0.1 'reduction reaction']] [9.5] oxidation reaction
[[123 7.5 0.5 'reduction reaction']
 [123 9.0 0.0 'reduction reaction']
 [123 5.0 0.25 'reduction reaction']] [9.5] oxidation reaction, recombinant enzyme
[[124 9.5 0.95 'oxidation reaction']
 [124 10.5 0.1 'oxidation reaction']] [5.5, 6.0] recombinant enzyme, reduction reaction
[[124 9.5 0.95 'oxidation reaction']
 [124 10.5 0.1 'oxidation reaction']] [5.5, 6.0] recombinant enzyme, reduction reaction
[[124 9.5 0.95 'oxidation reaction']
 [124 10.5 0.1 'oxidation reaction']] [9.5] oxidation reaction, recombinant enzyme
[[128 5.5 0.4 'reduction of D-ribulose']
 [128 8.5 0.1 'reduction of D-ribulose']] [8.5] oxidation of D-arabitol
[[131 4.0 0.4 'for reduction of pyruvate within this range']
 [131 8.0 0.4 'for reduction of pyruvate within this range']] [8.5, 9.5] oxidation of lactate
[[131 4.0 0.4 'for reduction of pyruvate within this range']
 [131 8.0 0.4 'for reduction of pyruvate within this range']] [8.5, 9.5] oxidation of lactate
[[132 4.0 0.0 nan]
 [132 10.0 0.0 nan]] [11.5] recombinant enzyme, lactate oxidation
[[134 8.0 0.2 'oxidation of lactate']
 [134 8.5 0.9 'oxidation of lactate']
 [134 9.0 0.95 'oxidation of lactate']
 [134 9.5 0.95 'oxidation of lactate']
 [134 7.5 0.0 'oxidation of lactate']] [5.0, 5.5] reduction of pyruvate
[[134 8.0 0.2 'oxidation of lactate']
 [134 8.5 0.9 'oxidation of lactate']
 [134 9.0 0.95 'oxidation of lactate']
 [134 9.5 0.95 'oxidation of lactate']
 [134 7.5 0.0 'oxidation of lactate']] [5.0, 5.5] reduction of pyruvate
[[134 8.0 0.2 'oxidation of lactate']
 [134 8.5 0.9 'oxidation of lactate']
 [134 9.0 0.95 'oxidation of lactate']
 [134 9.5 0.95 'oxidation of lactate']
 [134 7.5 0.0 'oxidation of lactate']] [8.5, 9.5] oxidation of lactate
[[145 9.0 0.95 'L-HSE oxidation']
 [145 7.0 0.011 'L-HSE oxidation']] [9.0] L-HSE oxidation in the presence of 0.4 M NaCl
[[153 8.0 0.8 'free cells']
 [153 7.0 0.8 'free cells']] [8.0] recombinant enzyme
[[155 9.0 0.95 nan]
 [155 10.0 0.95 nan]
 [155 6.5 0.05 nan]] [9.0, 10.0] activity decreases rapidly with decreasing pH. At pH 6.5 the enzyme is almost inactive
[[164 11.0 0.55 nan]
 [164 9.0 0.45 nan]] [5.5, 6.5] conversion of acetoacetyl-CoA to beta-hydroxybutyryl-CoA decreases above pH 6.5
[[164 11.0 0.55 nan]
 [164 9.0 0.45 nan]] [5.5, 6.5] conversion of acetoacetyl-CoA to beta-hydroxybutyryl-CoA decreases above pH 6.5
[[175 6.5 0.85 'reduction of acetoin']
 [175 7.0 0.85 'reduction of acetoin']] [6.5] for acetoin reduction
[[175 6.5 0.85 'reduction of acetoin']
 [175 7.0 0.85 'reduction of acetoin']] [10.0] for (2R,3R)-butane-2,3-diol oxidation
[[181 7.3 0.65 'pH: pH: recombinant NADP-ME3']
 [181 8.3 0.65 'pH: pH: recombinant NADP-ME3']
 [181 7.3 0.65 'pH: pH: recombinant NADP-ME3']
 [181 8.3 0.65 'pH: pH: recombinant NADP-ME3']] [7.3] recombinant NADP-ME2
[[182 7.3 0.65 'pH: pH: recombinant NADP-ME3']
 [182 8.3 0.65 'pH: pH: recombinant NADP-ME3']
 [182 7.3 0.65 'pH: pH: recombinant NADP-ME3']
 [182 8.3 0.65 'pH: pH: recombinant NADP-ME3']] [7.3] recombinant NADP-ME2
[[191 7.5 1.0 nan]
 [191 5.8 0.33 nan]] [7.5] -
[[194 6.5 0.6 'isoenzyme IDP1']
 [194 9.0 0.7 'isoenzyme IDP1']] [6.5, 9.0] more than 90% of optimal Vmax, isoenzyme IDP2
[[194 6.5 0.6 'isoenzyme IDP1']
 [194 9.0 0.7 'isoenzyme IDP1']] [6.5, 9.0] more than 90% of optimal Vmax, isoenzyme IDP2
[[195 6.5 0.6 'isoenzyme IDP1']
 [195 9.0 0.7 'isoenzyme IDP1']] [6.5, 9.0] more than 90% of optimal Vmax, isoenzyme IDP2
[[195 6.5 0.6 'isoenzyme IDP1']
 [195 9.0 0.7 'isoenzyme IDP1']] [6.5, 9.0] more than 90% of optimal Vmax, isoenzyme IDP2
[[196 7.0 0.6 'isoenzyme IDP2']
 [196 8.0 0.4 'isoenzyme IDP2']] [8.0] isoenzyme IDP1
[[196 7.0 0.6 'isoenzyme IDP2']
 [196 8.0 0.4 'isoenzyme IDP2']] [8.5] isoenzyme IDP3
[[197 7.0 0.6 'isoenzyme IDP2']
 [197 8.0 0.4 'isoenzyme IDP2']] [8.0] isoenzyme IDP1
[[197 7.0 0.6 'isoenzyme IDP2']
 [197 8.0 0.4 'isoenzyme IDP2']] [8.5] isoenzyme IDP3
[[200 7.5 0.9 nan]
 [200 8.5 0.9 nan]] [8.5] -
[[244 7.5 0.75 nan]
 [244 9.5 0.75 nan]] [5.2] enzyme possess a dual pH optimum. A significant decrease in the Ki for substrate inhibition at pH values corresponding to the valley between these optima is responsible for this phenomenon
[[255 6.0 0.6 nan]
 [255 8.0 0.6 nan]] [9.0] -
[[291 6.0 0.95 nan]
 [291 7.0 0.95 nan]] [6.0, 7.0] the enzyme activity retains more than 95% of its maximal activity within the pH range of 6-7 at 25Â°C
[[291 6.0 0.95 nan]
 [291 7.0 0.95 nan]] [6.0, 7.0] the enzyme activity retains more than 95% of its maximal activity within the pH range of 6-7 at 25Â°C
[[305 6.0 0.95 nan]
 [305 7.5 0.95 nan]
 [305 5.0 0.0 nan]] [6.0, 7.5] recombinant His-tagged enzyme
[[321 3.2 0.5 'reaction with cellobiose and cytochrome c']
 [321 5.3 0.45 'reaction with cellobiose and cytochrome c']] [4.5, 7.5] two activity peaks, one at pH 3.5 and another at pH 4.5-4.75, the activity at pH 3.5 is 90% of the activity at pH 4.5-7.5, reaction with cellobiose and cytochrome c
[[346 7.0 0.55
  "substrate: 2,2'-azino-bis(3-ethylbenzothiazoline-6-sulfonic acid)"]
 [346 4.0 0.35
  "substrate: 2,2'-azino-bis(3-ethylbenzothiazoline-6-sulfonic acid)"]] [7.0] substrate: 2,6-dimethoxyphenol
[[353 6.0 0.75 'substrate: 2,6-dimethoxyphenol']
 [353 9.0 0.5 'substrate: 2,6-dimethoxyphenol']] [5.5] substrate: 2,2'-azino-bis(3-ethylbenzothiazoline-6-sulfonic acid)
[[381 9.0 0.95 nan]
 [381 5.4 0.0 nan]] [9.0] -
[[388 4.0 0.534 nan]
 [388 3.0 0.184 nan]] [5.0, 10.0] broad optimum
[[388 4.0 0.534 nan]
 [388 3.0 0.184 nan]] [5.0, 10.0] broad optimum
[[392 4.5 0.9 'above']
 [392 10.5 0.9 'above']] [10.5] -
[[450 8.0 0.3 nan]
 [450 9.0 0.15 nan]] [6.0] -
[[472 6.0 0.5 'within this range']
 [472 9.0 0.5 'within this range']] [6.0, 7.5] broad optimum
[[479 10.0 0.1 'almost no activity at pH 4.5, i.e. a second optima']
 [479 8.0 0.7 'almost no activity at pH 4.5, i.e. a second optima']] [6.0, 6.5] -
[[479 10.0 0.1 'almost no activity at pH 4.5, i.e. a second optima']
 [479 8.0 0.7 'almost no activity at pH 4.5, i.e. a second optima']] [6.0, 6.5] -
[[582 6.0 0.5 'within this range']
 [582 9.0 0.5 'within this range']] [6.0, 7.5] broad optimum
[[628 7.6 0.95 nan]
 [628 7.8 0.95 nan]] [7.0] -
[[628 7.6 0.95 nan]
 [628 7.8 0.95 nan]] [7.0] broad optimum
[[669 6.6 0.1 nan]
 [669 7.0 0.0 nan]] [6.0] activity assay, feruloyl-CoA as substrate
[[762 7.0 0.7 nan]
 [762 8.5 0.7 nan]] [7.0] -
[[810 6.5 0.35 'reduction of oxidized coenzyme F420 with NADPH']
 [810 4.5 0.45 'reduction of oxidized coenzyme F420 with NADPH']] [8.0] reduction of NADP+ with reduced coenzyme F420
[[811 7.0 0.6 'reduction of NADP+ with reduced coenzyme F420']
 [811 9.0 0.5 'reduction of NADP+ with reduced coenzyme F420']] [5.5] reduction of oxidized coenzyme F420 with NADPH
[[812 7.5 0.5 'reduction of NADP+ with reduced coenzyme F420']
 [812 10.0 0.9 'reduction of NADP+ with reduced coenzyme F420']] [5.5] pH optimum for reduction of oxidized coenzyme F420 with NADPH
[[815 5.0 0.4 nan]
 [815 11.0 0.8 nan]] [4.0, 6.0] substrates: DELTA1-pyrroline-2-carboxylate + NADH + H+
[[815 5.0 0.4 nan]
 [815 11.0 0.8 nan]] [11.0] substrates: L-proline + NAD+
[[816 12.0 0.85 nan]
 [816 10.0 0.75 nan]] [4.0, 6.0] substrates: DELTA1-pyrroline-2-carboxylate + NADH + H+
[[816 12.0 0.85 nan]
 [816 10.0 0.75 nan]] [4.0, 6.0] substrates: DELTA1-pyrroline-2-carboxylate + NADH + H+
[[826 7.0 0.6 'substrate: spermine']
 [826 9.0 0.45 'substrate: spermine']] [6.5] substrate: thermospermine
[[838 5.0 0.5 nan]
 [838 8.0 0.5 nan]] [8.0] -
[[839 5.0 0.5 nan]
 [839 8.0 0.5 nan]] [8.0] -
[[841 6.5 0.55 nan]
 [841 9.0 0.55 nan]] [6.5] -
[[842 6.5 0.55 nan]
 [842 9.0 0.55 nan]] [6.5] -
[[861 8.0 0.95 nan]
 [861 9.0 0.95 nan]] [7.0] quinone reductase activity
[[873 6.0 0.95 'inferred']
 [873 7.0 0.95 'inferred']] [6.0] -
[[903 4.5 0.7 nan]
 [903 5.5 0.35 nan]] [4.5, 5.0] -
[[904 5.5 0.35 nan]
 [904 4.5 0.7 nan]] [4.5, 5.0] -
[[960 7.5 0.95 nan]
 [960 9.0 0.95 nan]] [7.5] -
[[979 5.0 0.8 'native enzyme,within this range']
 [979 6.0 0.8 'native enzyme,within this range']] [5.0] native enzyme
[[979 5.0 0.8 'native enzyme,within this range']
 [979 6.0 0.8 'native enzyme,within this range']] [6.0] recombinant enzyme
[[981 6.3 0.8 'recombinant enzyme,within this range']
 [981 5.4 0.8 'recombinant enzyme,within this range']] [5.0] native enzyme
[[1023 1.0 0.0 nan]
 [1023 3.0 0.0 nan]] [7.5, 8.5] -
[[1023 1.0 0.0 nan]
 [1023 3.0 0.0 nan]] [7.5, 8.5] -
[[1024 9.5 0.05 'inferred']
 [1024 10.0 0.05 'inferred']] [7.5, 8.5] -
[[1024 9.5 0.05 'inferred']
 [1024 10.0 0.05 'inferred']] [7.5, 8.5] -
[[1032 6.5 0.9 nan]
 [1032 7.5 0.9 nan]
 [1032 8.0 0.5 nan]
 [1032 9.0 0.1 nan]] [6.5, 7.5] recombinant enzyme, broad optimum
[[1053 10.0 1.0 'L-gamma-glutamyl-4-nitroanilide with diglycine acceptor']
 [1053 9.0 0.96 nan]
 [1053 8.0 0.926 nan]
 [1053 6.0 0.25 nan]] [10.0] -
[[1069 8.5 0.8 'within this range']
 [1069 6.0 0.8 'within this range']] [8.0, 8.5] maximum activity
[[1086 5.5 0.4 nan]
 [1086 7.5 0.4 nan]] [5.5] -
[[1089 5.5 0.4 nan]
 [1089 7.5 0.4 nan]] [5.0] -
[[1158 5.0 0.5 nan]
 [1158 7.0 0.5 nan]] [7.0, 7.5] -
[[1158 5.0 0.5 nan]
 [1158 7.0 0.5 nan]] [7.0, 7.5] -
[[1159 5.0 0.5 nan]
 [1159 7.0 0.5 nan]] [7.0, 7.5] -
[[1159 5.0 0.5 nan]
 [1159 7.0 0.5 nan]] [7.0, 7.5] -
[[1160 8.0 0.5 nan]
 [1160 6.5 0.5 nan]] [6.0, 6.5] -
[[1160 8.0 0.5 nan]
 [1160 6.5 0.5 nan]] [6.0, 6.5] -
[[1161 6.5 0.5 nan]
 [1161 8.0 0.5 nan]] [6.0, 6.5] -
[[1161 6.5 0.5 nan]
 [1161 8.0 0.5 nan]] [6.0, 6.5] -
[[1229 6.0 0.5 'glycosynthesis']
 [1229 7.0 0.5 'glycosynthesis']] [6.0] glycosynthesis
[[1229 6.0 0.5 'glycosynthesis']
 [1229 7.0 0.5 'glycosynthesis']] [7.0, 7.5] phosphorolysis
[[1229 6.0 0.5 'glycosynthesis']
 [1229 7.0 0.5 'glycosynthesis']] [7.0, 7.5] phosphorolysis
[[1251 5.0 0.95 nan]
 [1251 6.0 0.95 nan]] [6.0] recombinant enzyme
[[1298 8.5 1.0 nan]
 [1298 7.5 0.6 nan]] [8.5] -
[[1365 8.0 0.5 'phosphoserine synthesis']
 [1365 9.0 0.6 'phosphoserine synthesis']] [9.0] phosphoserine synthesis
[[1394 5.0 0.5 nan]
 [1394 7.0 0.65 nan]] [7.0] -
[[1394 5.0 0.5 nan]
 [1394 7.0 0.65 nan]] [7.0] -
[[1394 5.0 0.5 nan]
 [1394 7.0 0.65 nan]] [7.0] glucokinase activity
[[1394 5.0 0.5 nan]
 [1394 7.0 0.65 nan]] [7.0] glucokinase activity
[[1395 5.0 0.5 nan]
 [1395 7.0 0.65 nan]] [7.0] -
[[1395 5.0 0.5 nan]
 [1395 7.0 0.65 nan]] [7.0] -
[[1395 5.0 0.5 nan]
 [1395 7.0 0.65 nan]] [7.0] glucokinase activity
[[1395 5.0 0.5 nan]
 [1395 7.0 0.65 nan]] [7.0] glucokinase activity
[[1451 4.0 0.9 nan]
 [1451 10.0 0.9 nan]] [4.0, 10.0] -
[[1451 4.0 0.9 nan]
 [1451 10.0 0.9 nan]] [4.0, 10.0] -
[[1550 5.5 0.7 'maximal activity in 50 mM potassium phosphate buffer']
 [1550 8.0 0.2 'maximal activity in 50 mM potassium phosphate buffer']] [8.0] maximal activity in 50 mM Tris-HCl buffer
[[1551 6.5 0.65 'potassium phosphate buffer']
 [1551 9.2 0.2 'potassium phosphate buffer']] [6.5] potassium phosphate buffer
[[1552 6.5 0.65 'potassium phosphate buffer']
 [1552 9.2 0.2 'potassium phosphate buffer']] [6.5] potassium phosphate buffer
[[1559 7.0 0.7 'in 50 mM Tris-HCl buffer']
 [1559 9.5 0.7 'in 50 mM Tris-HCl buffer']] [6.0] maximal activity in 50 mM potassium phosphate buffer
[[1649 1.0 0.5 'inferred']
 [1649 3.0 0.5 'inferred']
 [1649 4.0 0.25 'inferred']
 [1649 7.0 0.01 nan]] [8.0] two pH optima, pH 2.0 and pH 8.0, are recorded
[[1651 4.0 0.8 'recombinant enzyme, within this range']
 [1651 5.0 0.8 'recombinant enzyme, within this range']] [5.0] recombinant enzyme
[[1677 5.0 0.55 nan]
 [1677 7.0 0.37 nan]] [9.0] -
[[1717 3.0 0.96 nan]
 [1717 5.0 0.96 nan]] [3.0] -
[[1731 6.0 0.6 'within this range']
 [1731 7.0 0.6 'within this range']] [7.0] -
[[1732 6.0 0.6 'within this range']
 [1732 7.0 0.6 'within this range']] [7.0] -
[[1733 6.0 0.6 'within this range']
 [1733 7.0 0.6 'within this range']] [7.0] -
[[1734 6.0 0.6 'within this range']
 [1734 7.0 0.6 'within this range']] [7.0] -
[[1735 7.0 0.6 'within this range']
 [1735 6.0 0.6 'within this range']] [7.0] -
[[1736 6.0 0.6 'within this range']
 [1736 7.0 0.6 'within this range']] [7.0] -
[[1744 7.0 0.6 'within this range']
 [1744 8.0 0.6 'within this range']] [7.0] -
[[1745 8.0 0.6 'within this range']
 [1745 7.0 0.6 'within this range']] [7.0] -
[[1746 7.0 0.6 'within this range']
 [1746 8.0 0.6 'within this range']] [7.0] -
[[1747 7.0 0.6 'within this range']
 [1747 8.0 0.6 'within this range']] [7.0] -
[[1748 7.0 0.6 'within this range']
 [1748 8.0 0.6 'within this range']] [7.0] -
[[1749 8.0 0.6 'within this range']
 [1749 7.0 0.6 'within this range']] [7.0] -
[[1768 4.1 0.0 nan]
 [1768 8.0 1.0 nan]
 [1768 4.5 0.1 nan]] [8.0] -
[[1790 5.5 0.25 nan]
 [1790 6.5 0.25 nan]] [6.5] -
[[1791 5.5 0.25 nan]
 [1791 6.5 0.25 nan]] [6.5] -
[[1794 6.0 0.86 nan]
 [1794 9.0 0.86 nan]] [7.5, 9.0] -
[[1880 6.0 0.5 nan]
 [1880 8.0 0.5 nan]] [6.0] -
[[1922 7.1 0.85
  'hydrolysis of 1-phosphatidyl-1D-myo-inositol 4,5-bisphosphate']
 [1922 7.6 0.65
  'hydrolysis of 1-phosphatidyl-1D-myo-inositol 4,5-bisphosphate']] [8.0] hydrolysis of phosphatidylinositol
[[1949 10.5 1.0 nan]
 [1949 7.5 0.0 nan]] [10.5] paraoxonase activity of recombinant PON1-hFc or PON1
[[2031 4.0 0.85 'alpha-1,4-glycosidic linkage hydrolysis of maltotriose']
 [2031 6.0 0.6 'alpha-1,4-glycosidic linkage hydrolysis of maltotriose']] [6.0] alpha-1,6-glycosidic linkage hydrolysis
[[2055 4.5 0.9 nan]
 [2055 6.0 0.9 nan]] [4.5] -
[[2102 6.0 0.8 'within this range']
 [2102 4.0 0.8 'within this range']] [6.0] -
[[2103 6.0 0.8 'within this range']
 [2103 4.0 0.8 'within this range']] [6.0] -
[[2104 4.0 0.8 'within this range']
 [2104 6.0 0.8 'within this range']] [6.0] -
[[2132 3.3 0.7 "substrate: N,N',N''-triacetyl chitotrioside"]
 [2132 4.7 0.5 "substrate: N,N',N''-triacetyl chitotrioside"]] [4.7] substrate: N,N',N''-triacetylchitotrioside
[[2159 6.0 0.6 'alpha-1,4-glycosidic linkage hydrolysis of maltotriose']
 [2159 4.0 0.85 'alpha-1,4-glycosidic linkage hydrolysis of maltotriose']] [6.0] alpha-1,6-glycosidic linkage hydrolysis
[[2163 1.0 0.45 nan]
 [2163 4.0 0.55 nan]] [3.5, 4.0] -
[[2164 1.0 0.45 nan]
 [2164 4.0 0.55 nan]] [3.5, 4.0] -
[[2165 1.0 0.45 nan]
 [2165 4.0 0.55 nan]] [3.5, 4.0] -
[[2170 2.5 0.4 nan]
 [2170 5.5 0.4 nan]] [2.0] -
[[2170 2.5 0.4 nan]
 [2170 5.5 0.4 nan]] [2.5, 3.0] -
[[2171 2.5 0.4 nan]
 [2171 5.5 0.4 nan]] [2.0] -
[[2171 2.5 0.4 nan]
 [2171 5.5 0.4 nan]] [2.5, 3.0] -
[[2172 5.5 0.4 nan]
 [2172 2.5 0.4 nan]] [2.0] -
[[2172 5.5 0.4 nan]
 [2172 2.5 0.4 nan]] [2.5, 3.0] -
[[2175 3.5 0.8 'recombinant His-tagged enzyme, in this range']
 [2175 5.0 0.8 'recombinant His-tagged enzyme, in this range']] [3.5] recombinant His-tagged enzyme
[[2189 5.0 0.8 nan]
 [2189 3.5 0.8 nan]] [3.5] -
[[2194 5.0 0.7 'beta-glucosidase TpBGL3']
 [2194 3.0 0.65 'beta-glucosidase TpBGL3']] [6.0] beta-glucosidase TpBGL1
[[2195 3.0 0.65 'beta-glucosidase TpBGL3']
 [2195 5.0 0.7 'beta-glucosidase TpBGL3']] [6.0] beta-glucosidase TpBGL1
[[2206 4.0 0.45 'beta-glucosidase TpBGL1']
 [2206 8.0 0.6 'beta-glucosidase TpBGL1']] [4.0] beta-glucosidase TpBGL3
[[2207 4.0 0.45 'beta-glucosidase TpBGL1']
 [2207 8.0 0.6 'beta-glucosidase TpBGL1']] [4.0] beta-glucosidase TpBGL3
[[2219 6.5 0.6 'substrate: 4-nitrophenyl beta-D-glucopyranoside']
 [2219 5.0 0.3 'substrate: 4-nitrophenyl beta-D-glucopyranoside']] [5.0, 5.5] with 4-nitrophenyl beta-D-glucopyranoside as substrate
[[2220 5.0 0.3 'substrate: 4-nitrophenyl beta-D-glucopyranoside']
 [2220 6.5 0.6 'substrate: 4-nitrophenyl beta-D-glucopyranoside']] [5.0, 5.5] with 4-nitrophenyl beta-D-glucopyranoside as substrate
[[2221 5.0 0.3 'substrate: 4-nitrophenyl beta-D-glucopyranoside']
 [2221 6.5 0.6 'substrate: 4-nitrophenyl beta-D-glucopyranoside']] [5.0, 5.5] with 4-nitrophenyl beta-D-glucopyranoside as substrate
[[2222 5.0 0.9 'substrate: 4-nitrophenyl beta-D-glucopyranoside']
 [2222 6.5 0.7 'substrate: 4-nitrophenyl beta-D-glucopyranoside']] [5.0, 5.5] with 4-nitrophenyl beta-D-glucopyranoside as substrate
[[2223 5.0 0.9 'substrate: 4-nitrophenyl beta-D-glucopyranoside']
 [2223 6.5 0.7 'substrate: 4-nitrophenyl beta-D-glucopyranoside']] [5.0, 5.5] with 4-nitrophenyl beta-D-glucopyranoside as substrate
[[2224 6.5 0.7 'substrate: 4-nitrophenyl beta-D-glucopyranoside']
 [2224 5.0 0.9 'substrate: 4-nitrophenyl beta-D-glucopyranoside']] [5.0, 5.5] with 4-nitrophenyl beta-D-glucopyranoside as substrate
[[2232 7.0 0.8 nan]
 [2232 8.5 0.8 nan]] [7.0] -
[[2250 6.5 0.9 'in the pH range of 6.5-8.5']
 [2250 8.5 0.9 'in the pH range of 6.5-8.5']] [6.5] -
[[2255 2.0 0.9 'recombinant His-tagged isozyme betafruct2, % at pH 4.5']
 [2255 4.5 0.2 nan]] [4.0, 5.0] recombinant His-tagged isozyme betafruct3
[[2256 4.5 0.2 'recombinant His-tagged isozyme betafruct']
 [2256 2.0 0.9 'recombinant His-tagged isozyme betafruct']] [4.0, 5.0] recombinant His-tagged isozyme betafruct3
[[2257 2.0 0.9 'recombinant His-tagged isozyme betafruct2, % at pH 4.5']
 [2257 4.5 0.2 nan]] [4.0, 5.0] recombinant His-tagged isozyme betafruct3
[[2261 3.5 0.5 'recombinant His-tagged isozyme betafruct3,']
 [2261 6.0 0.5 'recombinant His-tagged isozyme betafruct3,']] [3.0] recombinant His-tagged isozyme betafruct2
[[2262 3.5 0.5 'recombinant His-tagged isozyme betafruct3,']
 [2262 6.0 0.5 'recombinant His-tagged isozyme betafruct3,']] [3.0] recombinant His-tagged isozyme betafruct2
[[2263 3.5 0.5 'recombinant His-tagged isozyme betafruct3,']
 [2263 6.0 0.5 'recombinant His-tagged isozyme betafruct3,']] [3.0] recombinant His-tagged isozyme betafruct2
[[2270 6.0 0.5 nan]
 [2270 9.0 0.7 nan]] [6.0, 7.5] -
[[2318 7.0 0.8 'within']
 [2318 6.0 0.8 'within']] [7.0] substrate 4-nitrophenyl alpha-L-arabinofuranoside
[[2322 7.0 0.6 nan]
 [2322 9.0 0.6 nan]] [7.0] -
[[2356 4.5 0.45
  'chimeric fusion protein CelA-SSO1949-CelA, that consists of 70 amino acids CelA followed by 163 amino acids SSO1949 and 29 amino acids CelA']
 [2356 3.5 0.7

In [98]:
# some manual match fixes
exp_idx_matches_to_fix = [6335, 6265, 6264]
for exp_idx in exp_idx_matches_to_fix:
    row = data_ph_range.loc[exp_idx]
    df2 = data_opt_match[(data_opt_match.ref == row.ref) & 
                         (data_opt_match.uniprot_id == row.uniprot_id) & 
                         (data_opt_match.ec_num == row.ec_num)]
    for ph_min, ph_max, note in df2[['ph_min', 'ph_max', 'comments']].values:
        ph_opts = [float(ph_min)]
        if ph_max != '-':
            ph_opts += [float(ph_max)]
        for ph_opt in ph_opts:
            matched_data += [[exp_idx, ph_opt, 1.0, note, row.uniprot_id]]

In [99]:
matched_ph_opts = pd.DataFrame(matched_data, columns=['exp_index', 'ph', 'activity', 'note', 'uniprot_id'])
print(len(matched_ph_opts))
matched_ph_opts

3246

      exp_index   ph  activity                  note uniprot_id
0             1  4.5       1.0                     -     B2KJ46
1             3  5.1       1.0  reduction of ketones     Q4J702
2             3  5.1       1.0    reduction reaction     Q4J702
3             4  5.1       1.0  reduction of ketones     Q4J9F2
4             4  5.1       1.0    reduction reaction     Q4J9F2
...         ...  ...       ...                   ...        ...
3241       6393  6.7       1.0                     -     P38929
3242       6335  8.4       1.0                     -     Q53005
3243       6335  8.9       1.0                     -     Q53005
3244       6265  8.0       1.0                     -     Q49W02
3245       6264  8.0       1.0                     -     P39773

[3246 rows x 5 columns]

In [100]:
data_act2 = pd.concat([data_act_ph_range, matched_ph_opts], ignore_index=True).reset_index(drop=True)
data_act2.sort_values('exp_index', inplace=True)
print(len(data_act_ph_range), len(data_act2))
# print(data_act2.uniprot_id.nunique(), len(data_act2))
data_act2.head(10)

6241 9487

,exp_index,ph,activity,note,ph_range_comment,uniprot_id
0,1,4.0,0.80,NaN,"pH 4.0: about 80% of maximal activity, pH 7.5:...",B2KJ46
1,1,7.5,0.60,NaN,"pH 4.0: about 80% of maximal activity, pH 7.5:...",B2KJ46
6241,1,4.5,1.00,-,NaN,B2KJ46
6243,3,5.1,1.00,reduction reaction,NaN,Q4J702
6242,3,5.1,1.00,reduction of ketones,NaN,Q4J702
3,3,5.8,0.40,reduction reaction,"pH 4.9: about 25% of maximal activity, pH 5.8:...",Q4J702
2,3,4.9,0.25,reduction reaction,"pH 4.9: about 25% of maximal activity, pH 5.8:...",Q4J702
5,4,5.8,0.40,reduction reaction,"pH 4.9: about 25% of maximal activity, pH 5.8:...",Q4J9F2
6245,4,5.1,1.00,reduction reaction,NaN,Q4J9F2
6244,4,5.1,1.00,reduction of ketones,NaN,Q4J9F2

In [101]:
print(data_act2[data_act2.ph > 13])
print(data_act2[data_act2.ph < 1])

Empty DataFrame
Columns: [exp_index, ph, activity, note, ph_range_comment, uniprot_id]
Index: []
Empty DataFrame
Columns: [exp_index, ph, activity, note, ph_range_comment, uniprot_id]
Index: []

In [103]:
data_act2 = data_act2.drop_duplicates()

In [104]:
# write to file
out_file = Path(data_dir, "ph_range/20230907_ph_range_processed_act_wopt.csv")
print(out_file)
data_act2.to_csv(out_file, index=False)

/projects/robustmicrob/jlaw/projects/prot_stability_engineering/inputs/brenda/ph_range/20230907_ph_range_processed_act_wopt.csv