In [3]:
import pandas as pd
import numpy
import pickle

In [9]:
with open(reaction_file, 'rb') as f:
    print(f)
    reaction_data = pickle.load(f)

<_io.BufferedReader name='/projects/robustmicrob/jlaw/projects/ESP/ESP/data/reaction_data/RHEA_reaction_df.pkl'>

UnpicklingError: invalid load key, 'v'.

In [13]:
substrate_file = "/projects/robustmicrob/jlaw/projects/ESP/ESP_prediction_function/data/additional_data/all_substrates.pkl"
df = pd.read_pickle(substrate_file)
df

               ID                                             Sim_FP
0     CHEBI:57344  [1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, ...
1     CHEBI:58349  [1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, ...
2     CHEBI:57776  [1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, ...
3          C00002  [1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, ...
4     CHEBI:33384  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...           ...                                                ...
1362  CHEBI:65244  [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, ...
1363       C00346  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1364  CHEBI:61593  [1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, ...
1365  CHEBI:35349  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1366  CHEBI:17698  [0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, ...

[1367 rows x 2 columns]

In [14]:
reaction_file = "/projects/robustmicrob/jlaw/projects/ESP/ESP/data/reaction_data/RHEA_reaction_df.pkl"
df = pd.read_pickle(reaction_file)
df

       RHEA ID CHEBI IDs                                      CHEBI_ID_list
0      10000.0       NaN                         [CHEBI:15377, CHEBI:16459]
1      10001.0       NaN                         [CHEBI:15377, CHEBI:16459]
2      10002.0       NaN                         [CHEBI:28938, CHEBI:31011]
3      10003.0       NaN                         [CHEBI:15377, CHEBI:16459]
4      10004.0       NaN                                      [CHEBI:17484]
...        ...       ...                                                ...
54195  66623.0       NaN            [CHEBI:71550, CHEBI:15379, CHEBI:57618]
54196  66624.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]
54197  66625.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]
54198  66626.0       NaN  [CHEBI:71541, CHEBI:15378, CHEBI:15377, CHEBI:...
54199  66627.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]

[54200 rows x 3 columns]